h1 {
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
}

h4 {
    font-family: cursive;
    font-size: large;
    font-weight: 200;
    line-height: 20px;
}

body {
    font-family: 'Times New Roman', Times, serif;
}

p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    line-height: 30px;
}